/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by this | */
@font-face {
  font-family: "Tallboy";
  src: url('https://raw.githubusercontent.com/willieandspud/wdd130/main/denim/fonts/TALLBOY.woff') format('woff');
}

@font-face {
  font-family: "Workman";
  src: url('https://raw.githubusercontent.com/willieandspud/wdd130/main/denim/fonts/Work.woff') format('woff');
}

  
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #F4F1EA   ;
  --secondary-color: #373737 ;
  --accent1-color: #648075;
  --accent2-color: #9BB1BF;

  /* change the values below to your chosen font(s) */
  --heading-font: "Tallboy";
  --paragraph-font: "Workman", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: #f2f0ea; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #f2f0ea; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: #f2f0ea;
  --nav-hover-background-color: #396E94;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 17px;
  text-align: center;
  background-color: #f2f0ea;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Tallboy", sans-serif;
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
    font-family: "Workman", sans-serif;
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
.header-gap {
  height: 100px; /* Adjust this value to create space between header and content */
}

.hero-image {
  margin-top: 50px; /* Adjust this value to create space between hero image and text */
  margin-top: 50px;
}
footer {
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: var(--accent1-color);
  color: var(--headline-color-on-color);
}

.footer-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-content p {
  margin: 0;
}

.footer-content a {
  text-decoration: none;
  color: var(--headline-color-on-color);
}
.history-content {
  display: flex;
  flex-direction: column;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically center */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.left-section .history-text-left {
  text-align: left;
  flex: 1; /* Occupy remaining space */
}

.right-section .history-text-right {
  text-align: right;
  flex: 1; /* Occupy remaining space */
}

.history-image {
  margin-left: 20px; /* Add margin between the text and image */
  width: 50%; /* Adjust width as needed */
  align-self: center; /* Center align the image vertically */
}

.history-image img {
  max-width: 100%;
}

.image-caption {
  font-size: 14px;
  color: #555;
  margin-top: 10px; /* Adjust top margin as needed */
}
.history-heading {
  font-size: 36px; /* Adjust the font size as needed */
}

.history-text h2 {
  font-size: 24px; /* Adjust the font size as needed */
}
.history-image.right-section .image-caption {
  text-align: right;
}
.left-section h2 {
  text-align: left;
}

.right-section h2 {
  text-align: right;
}
.dating-page {
  text-align: center; /* Center align content */
}

.dating-page h1 {
  font-size: 36px;
  margin-bottom: 20px; /* Add margin below the headline */
}

.dating-content img {
  display: block; /* Make image a block element */
  margin: 0 auto 20px; /* Center align image and add margin below */
  max-width: 100%; /* Ensure image doesn't exceed container width */
}
.dating-content-head img {
  display: block;
  margin: 0 auto 40px; /* Increased margin to add more space */
  max-width: 100%;
}

/* Add margin above and below the paragraph text */
.dating-content-head p {
  margin: 20px 0; /* Add margin above and below the paragraph text */
}
.dating-content h2 {
  text-align: left; /* Align the "Levi's" heading to the left */
  margin-bottom: 40px; /* Add margin below the "Levi's" heading */
  font-size: 32px;
}

/* Add margin below the paragraph text */
.dating-content p {
  margin-bottom: 60px; /* Add margin below the paragraph text */
}

/* Left align the paragraph text in the "dating-Levis" section */
.dating-Levis p {
  text-align: left; /* Align paragraph text to the left */
}
.group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Each column takes up half of the webpage/screen */
   /* 4 rows with automatic height */
  grid-row-gap: 20px; /* Add some space between rows */
}

.patch-image,
.two-pockets-image,
.red-tab-image,
.feature {
  grid-column: 2; /* Located in the first column */
}

.two-horse-patch,
.two-square-back-pockets,
.red-tab-intro,
.story {
  grid-column: 1; /* Located in the second column */
}

.group{
  grid-template-rows: 1fr;
  grid-row-gap: 40px;
}
.story,
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-caption {
  text-align: center;
}